{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="../static/deadlineValidationStyles.css">


{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add New Assignment</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="title">Title</label>
                {{ form.title(class="form-control", id="title") }}
                
                <small class="form-text text-danger" id="titleError">
                    {% if form.title.errors %}
                        {{ form.title.errors[0] }}
                    {% endif %}
                </small>
                
            </div>

            <div class="form-group">
                <label for="module_code">Module Code</label>
                {{ form.module_code(class="form-control", id="module_code") }}
                
                <small class="form-text text-danger" id="moduleCodeError">
                    {% if form.module_code.errors %}
                        {{ form.module_code.errors[0] }}
                        {% endif %}
                </small>
                
            </div>

            <div>
                <label for="deadline">Deadline</label>
                {{ form.deadline(class_='form-control') }}
                
                <small class="text-danger" id="deadlineError">
                    {% if form.deadline.errors %}
                        {{ form.deadline.errors[0] }}
                    {% endif %}
                </small>
            </div>
            

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                
                <small class="form-text text-danger" id="descriptionError">
                    {% if form.description.errors %}
                        {{ form.description.errors[0] }}
                    {% endif %}
                </small>
                
            </div>


            <div class="form-group form-check">
                {{ form.is_completed(class="form-check-input", id="is_completed") }}
                <label class="form-check-label" for="is_completed">Completed</label>

                <small class="form-text text-danger" id="completedError">
                    {% if form.description.errors %}
                        {{ form.description.errors[0] }}
                    {% endif %}
                </small>
            </div>

        
            <button type="submit" class="btn btn-primary" id="submitBtn">{{ form.submit.label.text }}</button>
        </form>
        
        <script src="../static/js/deadlineValidate.js"></script>
        <script src="../static/js/validateForm.js"></script>
{% endblock %}
