/* Body styling */
body {
    font-family: Arial, sans-serif; /* Use a readable font */
    background-color: #FFF9D6; /* Dark Slate background */
    color: #D5D5D5; /* Light Gray text */
    line-height: 1.6; /* Improve readability */
}



/* Button styling */


/* Filter and Order Container styling */
#filter-container,
#order-container {
    margin-top: -20px; /* Adjust to bring sections closer to the buttons */
    position: relative; /* Positioning if needed */
    z-index: 1; /* Ensure it appears above other content */
}

/* Card styling */
.card {
    background-color: #E2E2B6; /* Darker background for cards */ /* Subtle border for cards */
    color: #D5D5D5; /* Light Gray text for card content */
    border: 0; /* Remove any default border */
    box-shadow: none; /* Remove default Bootstrap shadow */
}

.card-body {
    background-color: #FFF9D6;
    border: 0 solid #FF6F61;
    padding: 0;
    margin: 0;
}


/* Card Title styling */
.card-title {
    color: #FF6F61; /* Coral color for card titles */
}

/* Assignment status badge colors */
.badge.bg-success {
    background-color: #4CAF50; /* Green for completed */
}

.badge.bg-warning {
    background-color: #FF9800; /* Orange for incomplete */
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .navbar-collapse {
        background-color: #2B2B2B; /* Ensure collapsible navbar has the same background */
    }
}
